html {
	font-family: "Roboto", sans-serif;
<<<<<<< HEAD
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
	margin-top: -15px;
}

.heading {
	background-color: #EEEEEE;
	width: 100%;
	height: 50px;
	border-bottom: solid .5px #999999;
	text-align: right;
	margin-top: 15px;
}

header {
	font-size: 18px;
	float: left;
	margin-left: 10px;
	margin-top: 15px;
}

ul .menu {
	float: right;
}

ul .menu a:hover {
	border-bottom: solid 1px black;
}

.menu li {
	font-size: 18px;
	display: inline-block;
	padding-right: 10px;
	margin-top: 15px;
}

.menu li a {
	color: #551A8B;
	text-decoration: none;
}

.post-account {
	text-decoration: none;
	float: right;
}

.search {
	padding-top: 20px;
	padding-left: 40px;
}

.form-group {
	display: inline-block;
}

.form-control {
	font-size: 18px;
	height: 15px;
	width: 400px;
	padding: 5px;
	margin-bottom: 20px;
}

.previous-current-next li {
	display: inline-block;
	border: solid 1px #EEEEEE;
	margin: -2.5px;
	padding: 10px;
	margin-bottom: 30px;
}

.previous-current-next a {
	text-decoration: none;
	color: black;
}

.results li {
	display: block;
	padding: 10px;
}

.grey {
	color: #999999;
	font-weight: bold;
}

.blue a {
	text-decoration: none;
}

main {
	margin-left: 50px;
}

/*how can I get the star to turn yellow with the hover attribute since it's not a link*/
.fa: hover {
	color: yellow;
}

=======
}

.fixed-nav {
	display: inline;
	position: fixed;
	width: 100%;
}

header {
	float: left;
}

.menu-top {
	display: inline;
	text-align: right;
}

.fixed-nav {
	position: fixed;
	background-color: #EEEEEE;
}

.menu {
	text-decoration: none;
	color: #551A8B;
	display: inline;
	text-align: right;
}

.search {
	margin-top: 100px;
}
>>>>>>> 02783826aedb17545bc9e0c4873345acb5e570c6
