html {
	font-family: "Roboto", sans-serif;
}

.fixed-nav {
	display: inline;
	position: fixed;
	width: 100%;
}

header {
	float: left;
}

.menu-top {
	display: inline;
	text-align: right;
}

.fixed-nav {
	position: fixed;
	background-color: #EEEEEE;
}

.menu {
	text-decoration: none;
	color: #551A8B;
	display: inline;
	text-align: right;
}

.search {
	margin-top: 100px;
}